* {
  font-family: 'Arial';
}
body {
  margin: 0;
}

.snackbar {
  padding: 0.5rem;
  background-color: #333333;
  color: white;
  text-align: center;
}

.nav {
  & {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  &-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  &-link:hover {
    color: gray;
  }
  &-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.hero {
  background-image: url('/dist/img/hero.svg');
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 4rem;
  &-content {
    max-width: 32rem;
    color: #fff;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .discover-btn {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background-color: transparent;
      color: #fff;
      border: 1px solid white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.product-highlight {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 4rem;
  img {
    margin: auto 0;
  }
  &-content {
    margin: auto;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .read-more-btn {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background-color: transparent;
      border: 1px solid black;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      &:hover {
        color: white;
        background-color: gray;
      }
    }
  }
}

.skin-care-carousel {
  height: 100vh;
  padding: 0 4rem;

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: gray;
  }

  ::-webkit-scrollbar-thumb {
    background-color: black;
  }

  .media-scroller {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    text-align: center;
  }
  .media-scroller--with-groups {
    grid-auto-columns: 80%;
  }

  .media-group {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
  }

  .media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: 1rem;
    .atc-button {
      background-color: rgba(0, 0, 0, 0.7);
      visibility: hidden;
      border: none;
      color: white;
      padding: 1rem 0;
    }
  }

  .media-element > img {
    inline-size: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  .media-element:hover {
    background-color: rgba(0, 0, 0, 0.1);
    .atc-button {
      visibility: visible;
    }
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 2rem;
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }
  .product-name {
    font-weight: bold;
  }
}
