@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
* {
  font-family: 'Arimo';
}
body {
  margin: 0;
}

.snackbar {
  padding: 0.5rem;
  background-color: #333333;
  color: white;
  text-align: center;
}

.nav {
  & {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  &-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  &-link:hover {
    color: gray;
  }
  &-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 4rem;
  &-top {
    background-image: url('/dist/img/hero.svg');
  }
  &-2nd {
    background-image: url('/dist/img/hero-2.png');
  }
  &-content {
    max-width: 32rem;
    color: #fff;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .discover-btn {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background-color: transparent;
      color: #fff;
      border: 1px solid white;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.product-highlight {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 8rem;
  padding: 0 4rem;
  img {
    margin: auto 0;
  }
  &-content {
    margin: auto;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .read-more-btn {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      background-color: transparent;
      border: 1px solid black;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-between;

      &:hover {
        color: white;
        background-color: gray;
      }
    }
  }
}

.carousel {
  min-height: 100vh;
  padding: 4rem;

  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: gray;
  }

  ::-webkit-scrollbar-thumb {
    background-color: black;
  }

  .journal {
    text-align: start;
  }

  .media-scroller {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    text-align: center;
  }
  .media-scroller--with-groups {
    grid-auto-columns: 80%;
  }

  .media-group {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
  }

  .media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: 1rem;
    .atc-button {
      background-color: rgba(0, 0, 0, 0.7);
      visibility: hidden;
      border: none;
      color: white;
      padding: 1rem 0;
    }
  }

  .media-element > img {
    inline-size: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  .media-element:hover {
    background-color: rgba(0, 0, 0, 0.1);
    .atc-button {
      visibility: visible;
    }
  }

  .snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 2rem;
  }

  .snaps-inline > * {
    scroll-snap-align: start;
  }
  .product-name {
    font-weight: bold;
  }

  .read-more-btn {
    padding: 1rem 0rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-grow: 0;
    align-items: center;
    gap: 1rem;

    &:hover {
      color: white;
      background-color: gray;
    }
  }
}

.quotes {
  min-height: 60vh;
  background-color: #e8e8dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  h1,
  h3 {
    font-weight: lighter;
  }
}

.user-voice {
  background-color: #f2f3ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem;
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 2rem 0 3rem 0;
    img {
      aspect-ratio: 1 / 1;
      width: 100%;
      height: auto;
      max-height: 16rem;
    }
  }
  &-more {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    &:hover {
      color: white;
      background-color: gray;
    }
  }
}

footer {
  background-color: #333333;
  color: white;
  margin-top: 4rem;
  padding: 4rem 2rem 2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 16rem;
  margin-bottom: 1rem;
  &-start {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  &-end {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
  }
  &-menus {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
  }
  &-menu {
    padding: 0 4rem 0 0;
  }
  &-copyright {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
}
