body {
  margin: 0;
}
.nav {
  & {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  &-items {
    gap: 2rem;
  }
  &-link:hover {
    color: gray;
  }
  &-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.snackbar {
  padding: 0.5rem;
  background-color: #333333;
  color: white;
  text-align: center;
}
